<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>

<div class="container">
    <hr>
    <h2>Usuários</h2>
    <a class="btn btn-success" href="/users/create" data-toggle="tooltip" title="Inserir novo usuário">Criar novo usuário</a>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.nome %></td>
                    <td><%= user.email %></td>
                    <td style="text-align: center;">
                    <form method="POST" action="/users/delete" onsubmit="confirmDelete(event, this)">
                        <a class="btn btn-warning" href="/users/edit/<%= user.id %>"" data-toggle="tooltip" title="Editar <%= user.nome %>">Editar</a>
                       
                        <input type="hidden" name="id" value="<%= user.id %>">
                        <button class="btn btn-danger" data-toggle="tooltip" title="Excluir <%= user.nome %>">Excluir</button>
                    
                    </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include ../partials/footer.ejs %>
<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Deseja realmente confirmar esse registro?");
        if(decision){
            form.submit();
        }
    }
</script>